
.ForgotPassword{

    width:100vw;
    height:100vh;
    background-color: #f5f6f7;
    display:flex;
    align-items: center;
    justify-content: center;

}

.ForgotPasswordWrapper{

    height:70%;
    width:70%;
    background-color: white;
    display: flex;
    border-radius: 1rem;
    padding: 20px;
    /* box-shadow: -1px 3px 50px -14px rgb(175, 173, 173); */
    /* box-shadow: -1px 3px 50px -14px rgb(188, 253, 7); */
    /* box-shadow: -1px 3px 50px -14px rgb(33, 185, 255); */

}

.ForgotPasswordLeft,.ForgotPasswordRight{

    flex:1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}


.ForgotPasswordLogo{
    font-size: 60px;
    font-weight: 800;
    color: #1775ee;
    margin-bottom: 10px;
    /* margin-left: 10px; */
}

.ForgotPasswordDesc{
    font-size: 20px;
}


/* .ForgotPasswordBox{
    height: 40vh;

    padding: 2vh;
    background-color: #ffff;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
} */

.ResetPasswordInput{
    height: 50px;
    border-radius: 10px;
    border: 1px solid gray;
    font-size: 18px;
    padding-left: 20px;
    width:90%;
    display: block;
}

.ForgotPasswordInput:focus{
    outline: none;
}

.ForgotPasswordBtn{
    height: 5vh;
    border-radius: 10px;
    border: none;
    background-color: #054635;
    color: white;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    width: 23vw;
}

.BackToLogin{
    text-align: center;
    text-decoration: none;
    color: #1775ee;
}

.ForgotPasswordButton{
    margin-left: 3rem;
    width: 60%;
    align-self: center;
    height: 50px;
    border-radius: 10px;
    border: none;
    background-color: #42b72a;
    color: white;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
  
}

.ShowPasswordLogin{
    position: absolute;
    display: flex;
    align-items: center;
    position: absolute;
    height: 100%;
    top: 0;
    right: 0;
    cursor: pointer;
    padding-right: 10px;
    /* border: 1px solid red; */
}

.InputFields{
    /* display:flex; */
  position: relative;
}


.ModalContainerTwoFactor{
    
}