/* .slideMain {
    width: 35vw;
    height: 29vh;
    position: absolute;
    opacity: 0;
    transition: opacity ease-in-out 0.4s;
  }
  .slideMain img {
    width: 35vw;
    height: 29vh;
  } */

  .slide{
    transition: opacity ease-in-out 0s!important;
  }

  .PictureCarouselContainerMain{
    overflow: hidden;
    height: 40vh;
    width: 80vw;
    border-radius: 14px;
  }

.next{
  top: 14vw;
  right: 58px;
    transform: translateY(-60%);
}

.prev{
  top: 14vw;
    left: 33vh;
    transform: translateY(-60%);
}

.btn-slide {
  width: 29px;
  height: 30px;
  border-radius: 50%;
  background: #ffffff;
  opacity: 10;
  border: 1px solid rgb(34 34 34 / 0%);
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  right: 3.7vw;
}

.container-dots {
  /* position: absolute;
  bottom: 10px;
  top: 48.5vh;
  left: 55vw;
  transform: translateX(-50%);
  display: flex;
  height: 2vh;
  border: 1px solid; */
  visibility: hidden;
}

.delete-icon{
  position: absolute;
  top: 68px;
  right: 50px;
  background-color: white;
  border-radius: 50%;
  cursor: pointer;
  height: 20px!important;
  padding: 0px!important;
  width: 20px!important;
}

.css-hlj6pa-MuiDialogActions-root{
  display: flex!important;
    flex-direction: row!important;
    justify-content: space-evenly!important;
}

.css-1t1j96h-MuiPaper-root-MuiDialog-paper{
  /* height: 26vh!important;
  width: 21vw!important; */
  justify-content: center!important;
}

.css-1rwt2y5-MuiButtonBase-root-MuiButton-root{
  border: none!important;
  background-color: #065F46!important;
  color: white!important;
  width: 5vw!important;
  height: 4vh!important;
}

.css-bdhsul-MuiTypography-root-MuiDialogTitle-root{
  text-align: center!important;
  font-family: 'lato'!important;
  font-weight: 600!important;
  line-height: 3vh!important;
  font-size: 20px!important;
}

.eventImageMain {
  object-fit: fill;
  width: 80vw!important;
  height: 43vh!important;
  border-radius: 15px!important;
}

.eventImage2Main{
      height: 45vh!important;
  width: 80vw;
  border-radius: 18px;
}


.DeletePhotodButton{
  position: absolute;
  top: 7.5vh;
  right: 3.2vw;
  background-color: white;
  cursor: pointer;
  height: 16px!important;
  padding: 7px!important;
  width: 16px!important;
  border-bottom-left-radius: 8px;
}

.DeteleButton{
  background-color: transparent;
    border: none;
}

.slide{
  overflow: hidden;
}