.ManageTimingsMaterialTableContainer {
  height: 35vh;
  /* border: 1px solid; */
  width: 35vw;
  display: flex;
}

.DeleteAllTimingsButton {
  border: none;
  background-color: red;
  width: 10vw;
  border-radius: 5px;
  cursor: pointer;
  height: 4vh;
  color: white;
  font-weight: bold;
  font-size: 1.8vh;
  font-family: "lato";
}

.AddIcon {
  width: 30%;
}

.css-1mbunh-MuiPaper-root {
  height: fit-content;
  padding-bottom: 2vh;
  border-radius: 2vh !important;
}
.css-d5sp9s-MuiTableCell-root {
  /* border-top: 1px solid; */
  padding-bottom: 2px;
}
.css-1ex1afd-MuiTableCell-root {
  font-size: 1.9vh !important;
  font-family: "Lato" !important;
  line-height: 1.6vh !important;
  padding: 1vh 1vh 1vh 3vh !important;
}
.css-2ulfj5-MuiTypography-root {
  font-family: "lato";
  font-size: 2.4vh;
}
.css-d5sp9s-MuiTableCell-root {
  font-size: 1.8vh;
  line-height: 1.8vh;
}

.ManageTimingsMaterialMainContainer {
  height: 40vh;
  /* border: 1px solid; */
  width: 28vw;
}

.ManageTimingsMaterialMainContainer {
  height: 40vh;
  /* border: 1px solid; */
  width: 70vw;
  display: flex;
}

.MazjidTimingsLeftTableContainer {
  height: 40vh;
  /* border: 1px solid; */
  width: 28vw;
}

.TimingsPlusButton {
  height: 45vh;
  /* border: 2px solid; */
  width: 70vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.css-1qgma8u-MuiButtonBase-root-MuiTableSortLabel-root {
  color: #065f46 !important;
  font-weight: 600 !important;
  font-family: "lato" !important;
  font-size: 1.5vh !important;
  line-height: 1.5vh !important;
  width: 7vw;
}
.css-i4bv87-MuiSvgIcon-root {
  width: 2.4vh !important;
  height: 2vh !important;
}

.css-p9qzma {
  color: #fff !important;
}

.BottomButtonContainer {
  /* border: 1px solid; */
  width: 42vw;
  height: 6vh;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-end;
}

.css-ig9rso-MuiToolbar-root {
  background-color: #065f46 !important;
  border-top-left-radius: 2vh !important;
  border-top-right-radius: 2vh !important;
}

@media (min-width: 600px) {
  .css-ig9rso-MuiToolbar-root {
    min-height: 6vh !important;
  }
}

.css-2ulfj5-MuiTypography-root {
  font-family: "lato" !important;
  color: white !important;
}

.PopUpFullData {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.473);
}

.PopUpBackground {
  width: 20vw;
  height: 15vh;
  background-color: white;
  position: relative;
  z-index: 100;
  justify-content: center;
  display: flex;
  align-items: center;
  border-radius: 0.5vw;
  flex-direction: column;
  border: 2px dashed #047756;
}

.PopupButtonAlign {
  display: flex;
  justify-content: space-around;
  width: 23vw;
  margin-top: 3vh;
}

.PopupContent {
  font-family: "Lato";
  font-style: normal;
  font-weight: 800;
  font-size: 2vh;
  color: #495057;
}

.PopupCancel {
  background: #f04848;
  border-radius: 8px;
  color: white;
  border: none;
  width: 5vw;
  height: 4vh;
  font-size: 1vw;
  font-family: 'lato';
  font-weight: 800;
  font-style: normal;
  cursor: pointer;
}
.SaveData {
  background: #059266;
  border-radius: 8px;
  color: white;
  border: none;
  width: 5vw;
  height: 4vh;
  font-size: 1vw;
  font-family: 'lato';
  font-weight: 800;
  font-style: normal;
  cursor: pointer;
}

.BorderForPage{
    width: 22vw;
    height: 19vh;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 100;
    border-radius: 8px;
}

.MuiInputBase-root{
    font-size: 1.8vh!important;
    font-family: 'lato'!important;
}

.css-dsuxgy-MuiTableCell-root{
    padding-bottom: 5px!important;
    padding-left: 15px!important;
    padding-top: 0px!important;
    padding-right: 0px!important;
}