.MasjidEventsPageBottomTopContainer {
  /* border: 1px solid blue; */
  height: 10%;
  display: flex;
  justify-content: space-between;
}

.EventsBottomTitleLeft {
  /* border: 1px solid red; */
  height: 100%;
  width: 30%;
}

.EventsBottomTitleRight {
  /* border: 1px solid red; */
  height: 100%;
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.EventsPageTitle {
  font-family: "Lato";
  font-style: normal;
  font-weight: 800;
  font-size: 32.766px;
  line-height: 44px;
  color: #3e5842;
  /* margin-left: 10px; */
  margin-top: 3vh;
  margin-bottom: 1vh;
}

.MasjidEventsContainerBottom {
  /* border: 1px solid green; */
  height: 68vh;
  width: 78vw;
  display: flex;
  justify-content: space-around;
}

.MasjidEventsCarouselContainer {
  /* border: 1px solid gray; */
  height: 63vh;
  width: 30vw;
  justify-content: flex-start;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: white;
  box-shadow: 0px 2.90885px 7.99935px 0.727213px rgb(0 0 0 / 25%);
  border-radius: 10px;
}

.EventCarouselCard {
  /* border: 1px solid grey; */
  width: 96%;
  height: 8vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  padding: 5px;
  cursor: pointer;
  margin-bottom: 2vh;
  background: #059266;
  box-shadow: 0px 2.90885px 7.99935px 0.727213px rgb(0 0 0 / 25%);
  border-radius: 8px;
  cursor: pointer;
}

.EventCarouselCardTitle {
  font-family: "Lato";
    font-style: normal;
    font-weight: 500;
    font-size: 1.6vh;
    color: #f9f9f9;
    display: flex;
    justify-content: flex-start;
    margin-bottom: 1.3vh;
}

.EventCarouselCardTime {
  font-family: "Lato";
  font-style: normal;
  font-weight: 500;
  font-size: 2vh;
  color: #f9f9f9;
  display: flex;
  justify-content: flex-start;
  margin-bottom: 1.3vh;
}

.MasjidCancelledEvents{
  height: 50%;
  margin-left: 10%;
  border-radius: 5px;
  border: none;
  background: #3e5842;
  box-shadow: 0px 5.53425px 5.53425px rgba(0, 0, 0, 0.25);
  border-radius: 8.30137px;
  padding: 5px;
  width: 35%;
}


.MasjidAddEventSentenceCancelled{
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size:16.7534px;
  color: #f9f9f9;
  cursor: pointer;
}

.NoEventsAvailable{
  /* border: 1px solid red; */
  height: 50%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.NoEventsAvailable{
  width: 100%;
  font-family: "Lato";
  font-style: normal;
  font-weight: 800;
  font-size: 23px;
  color: #3e5842;
  width: 90%;
  justify-content: center;
  align-items: center;
}

.EventPageLeftContainer{
  /* border: 1px solid; */
  width: 39vw;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 49vh;
}

.TopContainerForBackAndView{
  display: flex;
  justify-content: space-between;
  height: 6vh;
  /* border: 1px solid blue; */
}

.CurrentTimings{
  margin-bottom: 2vh;
  font-family: 'Lato';
  font-style: normal;
  font-weight: 600;
  font-size: 2vh;
}

.MazjidStartDate{
  font-family: "Lato";
    font-style: normal;
    font-weight: 500;
    font-size: 2vh;
    color: #f9f9f9;
    display: flex;
    justify-content: flex-start;
}

.mazjidName{
  font-family: "Lato";
    font-style: normal;
    font-weight: 500;
    font-size: 2vh;
    color: #f9f9f9;
    display: flex;
    justify-content: flex-start;
}

.PhotosofMazjid{
  height: 7vh;
  width: 3.5vw;
}

.PhotosofMazjid img{
  height: 7vh;
  width: 3.5vw;
  object-fit: cover;
  border-radius: 1vh;
}

.FeedTimingsTitleViewAll{
  font-family: 'Lato';
font-style: normal;
font-weight: 600;
font-size: 14px;
text-decoration-line: underline;
color: #065F46;
cursor: pointer;
}

.css-1nrlq1o-MuiFormControl-root{
  width: 100%!important;
}

.rmdp-container {
  width: 100%!important;
}

.MuiPickersBasePicker-containerLandscape {
  flex-direction: column!important;
  /* border: 1px solid black; */
  width: 24vw!important;
}

.MuiPickersToolbar-toolbarLandscape{
  max-width: 100%!important;
}

.MuiPickersToolbar-toolbar{
  background-color: #065F46!important;
  border-top-left-radius: 8px!important;
  border-top-right-radius: 8px!important;
}

.MuiPickersBasePicker-pickerView{
  max-width: 447px!important;
}

.EventCard{
  width: 26vw;
  height: 43vh;
  overflow-y: auto;

}

.EventCard::-webkit-scrollbar{
  background-color: #F5F5F5;
  width: 0.3vw;
  cursor: pointer;
}


.EventCard::-webkit-scrollbar-thumb {
  background-color: #495057;
  border-radius: 10px;
  cursor: pointer;
}

.EventCard::-webkit-scrollbar-thumb:hover {
  background-color: #666;
  cursor: pointer;
  
}

.EventCard::-webkit-scrollbar-track {
  background-color: #cecece;
}

.NoEventsAvailable{
  height: 41vh;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25vw;
}
.NoEventAvaliable{
  height: 16vh;
}