.SidebarItem{
    display: flex;
    flex-direction: row;
    margin-bottom: 5vh;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.SidebarItem a{
    display: flex;
    flex-direction: row;
}

.SidebarContainer{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 4vh;

}

.SidebarBottom{
    margin-top: 3vh;
    padding-left: 3vh;
}
.SidebarItemIcon img{
    width: 5vh;
}

.SidebarItemName{
    font-weight: 800;
    font-size: 2vh;
    font-family: 'lato';
    color: #495057;
    display: flex;
    align-items: center;
}

.SidebarItemNameBox{
    display: flex;
    align-items: center;
}

.SidebarIconsLout{
    cursor: pointer;
}
.SidebarItemName{
    cursor: pointer;
}

.SidebarIconsLout{
    width: 5vh!important;
}

.SidebarIconsEvents{
    width: 4.5vh!important;
}

.SidebarIconsMazjid{
    width: 3vw!important;
}

.SidebarIconsAnnoucments{
    width: 5vh!important;
}
.SidebarIconsTimings{
    width: 4vh!important;
}

.SidebarItemIcon{
    margin-right: 18px;
}