
.PictureCarouselContainer{
    /* border:1px solid brown; */
    width: 35vw;
  height: 25vh;
    border-radius: 15px;

}

.PictureCarouselContainerTop{
    height: 100%;
}

.container-slider-masjid {
  width: 35vw;
  height: 25vh;
  border-radius: 1vw;
    position: relative;
    overflow: hidden;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  }
  

  .slide {
    width: 35vw;
    height: 29vh;
    position: absolute;
    opacity: 0;
    transition: opacity ease-in-out 0.4s;
  }
  .slide img {
    width: 35vw;
    height: 25vh;
  }
  .active-anim {
    opacity: 1;
  }
  
  .btn-slide {
    width: 3vw;
    height: 5vh;
    border-radius: 50%;
    background: #f1f1f1;
    opacity: 10 ;
    border: 1px solid rgba(34, 34, 34, 0.287);
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  
  .btn-slide img {
    width: 2vw;
    height: 2.5vh;
    pointer-events: none;
  }
  .prev {
    top: 50%;
    left: 20px;
    transform: translateY(-60%);
  }
  .next {
    top: 50%;
    right: 20px;
    transform: translateY(-60%);
  }
  
  .dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 3px solid #f1f1f1;
    margin: 0 5px;
    background: #f1f1f1;
  }
  .dot.active {
    background: rgb(32, 32, 32);
  }
  
  .eventImage{
    object-fit:cover;
    width: 100%;
    height: 100%;
    border-radius: 15px;
  }
  
  
  
  
  .delete-icon{
    position: absolute;
    top: 10px;
    right: 10px;
    transform: translateX(-50%);
    display: flex;
    color: #1f1a1a;
    height: 2.1rem;
    width: 2.1rem;
    cursor: pointer;
  }


.container-dots {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    height:3%;
  }
  .dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 3px solid #f1f1f1;
    margin: 0 5px;
    background: #f1f1f1;
  }
  .dot.active {
    background: rgb(32, 32, 32);
  }
  

  
.delete-icon{
  position: absolute;
  right: -30px;
  display: flex;
  background-color: white;
  border-radius:10px;
  height: 5%;
  padding: 2px;
  width: 10%;
  cursor: pointer;
}

.deleteButton{
  border: 1px solid red;
  height:3rem;
  width:3rem;
}

.loadingIcon{
  margin-left: 38px;
  margin-top: 10px;
  display:flex;
  justify-content: center;
  align-items: center;
}


.eventImage2 {
  height: 29vh;
    width: 36vw;
}

.MasjdiProfileCardTop{
  display: flex;
  margin-top: 2vh;
}