.setpassword-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.setpasswordhead {
  width: 100%;
  text-align: center;
  padding: 20px 0;
}

.sp-fname {
  font-family: "Lato";
  font-style: normal;
  font-weight: 800;
  font-size: 24px !important;
  margin: 0 !important;
  color: #047756;
}

.sp-lname {
  font-family: "Lato";
  font-style: normal;
  font-weight: 800;
  font-size: 65px;
  font-size: 24px;
  color: #ffa403;
}

.setpasswordForm {
  background-color: white;
  padding: 30px 10px;
  margin: 10px;
  border-radius: 20px;
  box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.3);
}

.setpassword-container h3 {
  text-align: center;
  color: #3d544e;
}

.setpasswordbox {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.setpasswordlogo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.setpasswordlogo b {
  color: #3d544e;
}

.setpassInputFields {
  /* width: 100%; */
  display: flex;
  position: relative;
  /* align-items: center; */
}

.setPasswordInput {
  width: 70vw;
  height: 4vh;
  border-radius: 20px;
  padding: 10px 30px;
  margin: 10px 0;
  border: 1px solid #047756;
}

.setPasswordBtnn {
  width: 77vw;
  height: 40px;
  /* padding: 10px 0; */
  border-radius: 20px;
  background-color: #047756;
  color: white;
  border: none;
}

.setpasswordsuccesstwo {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90vw;
}

.setpasswordbtnsuccess {
  color: white;
  padding: 0px;
  border-radius: 20px;
  background: rgb(27, 131, 104);
  width: 77vw;
  height: 6vh;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  margin-bottom: 20px;
  border: none;
  font-family: "lato";
}

.toast {
  background: white;
  padding: 5px 15px;
  margin: 0;
  border-radius: 15px;
}
.toast p {
  margin: 0;
}

@media (min-width: 768px) {
  .setpasswordForm {
    width: 40vw;
  }

  .setPasswordInput {
    width: 30vw;
    height: 3vh;
  }
  .setPasswordBtnn {
    width: 30vw;
  }

  .setpasswordsuccesstwo {
    width: 40vw;
  }

  .setpasswordbtnsuccess {
    width: 30vw;
  }
}

@media (min-width: 1024px) {
  .setPasswordInput {
    height: 3.5vh;
  }
}

@media (min-width: 1440px) {
  .setpasswordForm {
    width: 30vw;
  }

  .setPasswordInput {
    width: 20vw;
    height: 2.5vh;
  }
  .setPasswordBtnn {
    width: 20vw;
  }

  .setpasswordsuccesstwo {
    width: 30vw;
  }

  .setpasswordbtnsuccess {
    width: 20vw;
  }
}

@media (min-width: 2000px) {
  .setpasswordForm {
    width: 20vw;
    margin-top: 200px;
  }

  .setPasswordInput {
    width: 15vw;
  }
  .setPasswordBtnn {
    width: 15vw;
  }

  .setpasswordsuccesstwo {
    width: 20vw;
  }

  .setpasswordbtnsuccess {
    width: 15vw;
    height: 4vh;
  }
}
